*{
     margin:0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Lato', sans-serif;
}
a{
     text-decoration: none;
}
li{
     list-style: none;
}
p{
     font-size: 20px;
     line-height: 1.6;
     font-weight:400;
     color:#606060
}

.extra-div h2,.service-div h2{
     font-size: 18px;
     margin:20px 0 15px 0;
     font-weight: bold;
     line-height: 1.1;
     word-spacing: 4px;
}
.header{
     width:100%;
     height: 98vh;
     background-image: url('/css/img/laptop.jpg');
     background-repeat: no-repeat;
     background-size: 100% 100%;
     position:relative;
     /* clip-path:polygon(100% 0%, 100% 75%, 50% 100%, 0 75%, 0 0); */
}
.header:before{
     content:"";
     position:absolute;
     top:0%;
     bottom:0%;
     left:0;
     right:0;
     opacity: 0.3;
     z-index: -1;
     background:linear-gradient(to right, #eaf702ec 0, #bfcd3c 0%, #f8e90f 100%);
}

/* .navbar{
     content:"";
     position:absolute;
     top:0%;
     bottom:0%;
     left:0;
     right:0;
     opacity: 0.3;
     z-index: -1;
     background:linear-gradient(to right, #1e5799 0, #3ccdbd 0%, #16c9f6 100%);
} */

.navbar a{
     font-weight: bold;
}

.header-section{
     width:100%;
     height: inherit;
     text-align: center;
     position: relative;
}
.center-div{
     width:100%;
     height:auto;
     position:absolute;
     color:white;
     top:50%;
     left:50%;
     transform: translate(-50%,-50%);
}
.header-button a{
      border:1px;
      border-color:white;
      border-radius: 100px;
      margin:0 5px;
      padding:12px 35px;
      outline:none;
      color: white;
      font-size:22px;
      font-weight:1.4;
      text-align:center;
      
}
.header-button a:hover{
     color:#50d1c0;
     background: #fff;
     text-decoration: none;
     box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.header-extradiv{
     width: 100%;
     height: auto;
     margin: 90px 0;
     text-align:center;

}

.extra-div{
     background: #fff;
     border: medium none;
     padding: 10px;
     /* margin-left: 20px;
     margin-right: 30px; */
     border-radius: 30px;
     transition: 0.3s;
     
}

.extra-div:hover{
     box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
     z-index: 1;
     transform: translateY(-10px);
}

/*------------------------------------------------------------service start -----------------------------------------------------------------------------------*/

.service-offer{
     background:#9492924d;
     padding:50px 0;
     margin-bottom: 50px;
}

.headings{
     margin-bottom: 50px;
}

.headings h1{
     font-size: 30px;
     font-weight: bold;
     text-transform: uppercase;

}

.names h1{
     color:#8d8d8d;
     font-size:20px;
     text-transform: capitalize;
     font-weight: bold;
}
.service-icons{
     display: flex;
     justify-content: center;
     align-items: center;
     color:#4ccefd
}

.progress{
     height: 0.6rem;
}

/* -----------------------------------------------------------service end--------------------------------------------------------------------------------------------------- */






/*--------------------------------------------------------- project-work start ------------------------------------------------------------------------------------------------------------------------------*/

.project-item{
     display:flex;
     justify-content: space-around;
     align-items: center;
     text-align: center;
}

.project-work{
     margin: 100px 0;
}

.project-work h1{
     font-size: 2rem;
     text-align: center;
}
/* ------------------------------------------------------------project-work end --------------------------------------------------------------*/



.pricing{
     width: 100%;
     height: 1000%;
     padding: 50px;
     /* position: relative; */
     background:linear-gradient(180deg, #16c9f6 55%,rgb(247, 220, 20) 0);
     z-index: -1;

}

.pricing:before{
     content:"";
     position:absolute;
     top:0%;
     bottom:0%;
     left:0;
     right:0;
     opacity: -3;
     z-index: -1;
     background:linear-gradient(10deg, #b9881d 55%,#fff 0);
}
.money{
     font-size: 40px;
     line-height: 1;
     color: #606060;
}
.card{
     transition: 0,4s;
     width: 350px;
}
.card-header{
     font-size:20px;
     font-weight: bold;
     background: #fff !important;
     padding: 10px 0 !important;
}

.card-body{
     padding: 30px 0px !important;
}

.card li{
     margin: 10px 0;
     font-weight: 400;
     font-size: 15px;
     line-height: 1.5;
     color: #606060;
}
.card-footer{
     background: #fff !important;
     padding: 20px 0px !important;
} 

.card-footer a{
     border: 1px solid #50d1c0;
     border-radius: 100px;
     margin:0 5px;
     padding:12px 35px;
     outline:none;
     color: #50d1c0;
     font-size:16px;
     font-weight:1.4;
     text-align:center;
}
.card:hover .card-footer a{
    color:#fff;
    background: #0a8574;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
}

.card:hover{
     box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
     transform: translateY(-20px);
     transition: 0.3s;
}

.card:hover .card-header,.card:hover .money{
     color:#50d1c0;
}

.card-second{
     transform: translateY(-20px);
}



/*---------------------------------------------------------- customer feedback start sliding image ----------------------------------------*/

.clients{
     width:100%;
     height:80vh;
     padding: 80px ;
     margin-top: 100px;

}



/*---------------------------------------------------------- customer feedback emd-------------------------------------------*/


.footer-section{
     width:100%;
     height:auto;
     padding: 70px 0 20px 0;
     background-color:#a3d0f0;
     position: relative;
     
}
.footer-section p{
     color:rgb(87, 85, 85);
     text-align: justify;

}

.footer-section li a{
     font-size: 20px;
     line-height: 1.6;
     font-weight: 400;
     color:rgb(87, 85, 85);
     text-transform: capitalize;
     text-decoration: none;
     text-align: center;
}
.footer-section li a:hover{
     font-size: 20px;
     line-height: 1.6;
     font-weight: 400;
     color:black;
     text-transform: capitalize;
     text-decoration: none;
     text-align: center;
}

.footer-section h3{
     text-transform: uppercase;
     color: rgb(87, 85, 85);
     margin-bottom: 25px;
     font-size: 1.2rem !important;
     font-weight: bold;
     text-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

/* #myBtn{
     display: none;
     position: fixed;
     bottom: 20px;
     right: 40px;
     z-index: 99;
     border: none;
     color:white;
     background-color: #666666;
     padding: 10px;
     border-radius: 10px;
}


#myBtn:hover{
     background:#606060;
} */










.banner{
     /* background-image: linear-gradient(rgba(238, 216, 118, 0.021),rgba(245, 233, 139, 0.207)),url('../images/bg-image2.jpg'); */
     width: 100%;
     height:100%;
     opacity:1;
     text-align: center;
     position: relative;
     padding:100px 100px;
     position: relative;
     background-color: rgb(245, 245, 239);

}
.banner-btn a{
     /* border: 1px solid rgb(27, 25, 25); */
     border-radius: 100px;
     margin:10px 5px;
     margin-bottom: 30px;
     padding:12px 35px;
     outline:none;
     background-color: yellow;
     font-size:16px;
     font-weight:bold;
     text-align:center;
}
.banner-btn1 a{
     /* border: 1px solid rgb(27, 25, 25); */
     border-radius: 100px;
     margin-left:-20%;
     margin-bottom: 30px;
     padding:12px 35px;
     outline:none;
     background-color: yellow;
     font-size:16px;
     font-weight:bold;
     text-align:center;
}
.banner-btn1 a:hover{
    color:black;
    background: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.banner-btn a:hover{
    color:black;
    background: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

/* .banner .center{
     width:100%;
     height:auto;
     position:absolute;
     top:50%;
     left:50%;
     transform: translate(-50%,-50%);
} */









    